{ config, pkgs, lib, ... }:

{
  imports = [
    ./devel.nix
    ./containers/webserver.nix
  ];

  users.extraUsers.root = {
    openssh.authorizedKeys.keys = [
      "public key..."
    ];
    #initialHashedPassword = lib.mkOptionDefault "...";
  };

  environment.systemPackages = [
    config.boot.kernelPackages.bcc
  ];

  services.prometheus.node_exporter.enable = true;
}
